<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Tables</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>sr no </th>
            <th>fname</th>
            <th>lname</th>
            <th>email</th>
            <th>conatct</th>
            <th>edit</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let std of studentArr, let i=index">
            <td>{{i+1}}</td>
            <td>{{std.fname}}</td>
            <td>{{std.lname}}</td>
            <td>{{std.email}}</td>
            <td>{{std.contact}}</td>
            <td class="text-center">
      <button  mat-mini-fab color="primary" >
              <mat-icon>edit</mat-icon>
            </button>
            </td>
            <td class="text-center">
      <button  mat-mini-fab color="warn" >
              <mat-icon>delete</mat-icon>
            </button>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<hr>




<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">Table 2</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>brand</th>
            <th>price</th>
            <th>inStock</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of productArr">
            <td>{{prd.id}}</td>
            <td>{{prd.name}}</td>
            <td>{{prd.brand}}</td>
            <td>{{prd.price}}</td>
            <td>{{prd.inStock}}</td>

          </tr>
        </tbody>
      </table>
      <hr>
      <h1 class="text-center">table-3</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>name</th>
            <th>role</th>
            <th>salary</th>
            <th>edit</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of empArr">
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.role}}</td>
            <td>{{emp.salary}}</td>
            <td><button mat-raised-button color="primary">Edit</button></td>
            <td><button mat-raised-button color="accent">Remove</button></td>

          </tr>
        </tbody>
      </table>





      <hr>
      <h1 class="text-center">table-4</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>orderId</th>
            <th>product</th>
            <th>quantity</th>
            <th>total</th>
            <th>edit</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ord of OrderArr">
            <td>{{ord.orderId}}</td>
            <td>{{ord.product}}</td>
            <td>{{ord.quantity}}</td>
            <td>{{ord.total}}</td>
            <td><button mat-raised-button color="primary">Edit</button></td>
            <td><button mat-raised-button color="accent">Remove</button></td>

          </tr>
        </tbody>
      </table>



      <hr>
      <h1 class="text-center">table-5</h1>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
            <th>isActive</th>
            <th>edit</th>
            <th>remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usr of userArr">
            <td>{{usr.id}}</td>
            <td>{{usr.username}}</td>
            <td>{{usr.email}}</td>
            <td>{{usr.isActive}}</td>
            <td><button mat-raised-button color="primary">Edit</button></td>
            <td><button mat-raised-button color="accent">Remove</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>